@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500&display=swap");

@font-face {
  font-family: "Get Schwifty";
  src: url("../fonts/get_schwifty.ttf");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --aquamarine: rgba(113, 255, 208, 1);
  --medium-spring-green: rgba(12, 255, 154, 1);
  --blue-sapphire: rgba(4, 92, 114, 1);
  --dark-purple: rgba(62, 43, 66, 1);
  --royal-purple: rgba(128, 76, 158, 1);
  --medium-purple: rgba(164, 115, 255, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Changa", sans-serif;
  overflow-x: hidden;
}

#bg-img {
  flex-shrink: 0;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1920px;
  min-height: 100%;
  height: auto;
  z-index: -4;
  position: fixed;
}

.filter-color {
  width: 100vw;
  height: 100vh;
  background-color: rgba(49, 59, 192, 0.1);
  top: 0;
  mix-blend-mode: overlay;
  z-index: -3;
  position: fixed;
}

h1 {
  font-family: "Get Schwifty", "Changa", sans-serif;
  font-size: 6rem;
  position: fixed;
  margin: 4% 0 0 4%;
  color: rgb(87, 255, 177);
  text-shadow: 1px 1px 100px rgb(0, 207, 121);
  animation: text-pulse 2s infinite;
}

h1 span {
  font-size: 0.6em;
}

.divider {
  width: 5%;
  height: 1px;
  background-color: rgb(183, 255, 215);
}

.go-home-res {
  top: 1rem;
  left: 1rem;
  position: fixed;
  width: fit-content;
  display: none;
  color: var(--aquamarine);
  text-decoration: none;
  font-size: 0.75rem;
}

.go-home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  /* border: 1px solid red; */
}

.go-home-container .divider {
  width: 41vw;
  box-shadow: 1px 1px 15px rgb(113, 255, 208);
}

.go-home {
  text-decoration: none;
  color: rgb(147, 255, 205);
  text-align: center;
  font-size: 1.5rem;
  align-self: flex-end;
  margin-right: 0.5rem;
}

.card {
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  background: linear-gradient(rgb(164, 115, 255), rgba(44, 83, 88, 0.5));
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  color: rgb(128, 255, 128);
  font-size: 1.1rem;
  transition: 0.4s;
  cursor: pointer;
  animation: pulse 3s infinite;
}

.card:hover {
  top: 0;
  transform: scale(1.15);
  background-color: rgb(128, 76, 158);
  background-color: rgb(128, 255, 128);
  color: rgb(96, 255, 162);
  /* transition: all 0.5s; */
  border: 2px solid rgb(113, 255, 208);
  transform: translateX(-20%) translateY(-12%) scale(1.2);
  transition: 0.5s;
}

.card img {
  width: 100%;
  border-radius: 0.5em;
  border-bottom: 2px solid rgb(0, 255, 136);
}

.card p {
  text-shadow: 1px 2px 2px rgb(64, 39, 71);
  cursor: text;
}

.card h4 {
  text-shadow: 1px 2px 2px rgb(64, 39, 71);
  cursor: text;
}

@keyframes pulse {
  0% {
    box-shadow: 1px 1px 3px rgba(2, 255, 150, 1);
  }
  25% {
    box-shadow: 1px 1px 4px rgba(2, 255, 150, 0.2);
  }
  50% {
    box-shadow: 1px 1px 5px rgba(2, 255, 150, 1);
  }
  75% {
    box-shadow: 1px 1px 4px rgba(2, 255, 150, 0.2);
  }
  100% {
    box-shadow: 1px 1px 3px rgba(2, 255, 150, 1);
  }
}

@keyframes text-pulse {
  0% {
    text-shadow: 1px 1px 35px rgba(12, 255, 154, 0.3);
  }
  25% {
    text-shadow: 1px 1px 35px rgba(12, 255, 154, 0.6);
  }
  50% {
    text-shadow: 1px 1px 35px rgba(0, 255, 149, 1);
  }
  75% {
    text-shadow: 1px 1px 35px rgba(12, 255, 154, 0.6);
  }
  100% {
    text-shadow: 1px 1px 35px rgba(12, 255, 154, 0.3);
  }
}

.menu {
  font-size: 1.3rem;
  text-align: center;
  display: flex;
  position: fixed;
  margin-right: 55%;
  flex-direction: column;
  color: rgb(212, 255, 235);
  align-items: center;
  align-self: flex-end;
  right: 2rem;
  gap: 1.2rem;
  margin-top: 13%;
  /* border: 2px solid red; */
}

.menu button {
  background: none;
  border: 2px solid rgb(12, 255, 154);
  border-bottom: 2px solid rgb(164, 115, 255);
  border-left: 2px solid rgb(164, 115, 255);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: rgb(12, 255, 154);
  font-size: 1.1rem;
  cursor: pointer;
}

.vertical-divider {
  background-color: rgb(183, 255, 215);
  position: fixed;
  left: 47%;
  top: 10%;
  width: 0.1rem;
  height: 80vh;
  box-shadow: 1px 1px 15px rgb(113, 255, 208);
}

.upper-gradient {
  color: rgb(212, 255, 235);
  opacity: 0.7;
  width: 100vw;
  height: 7rem;
  top: 0;
  position: fixed;
  z-index: 1;
  background: linear-gradient(rgba(12, 255, 182, 0.1), rgba(0, 0, 0, 0));
}

footer {
  display: flex;
  padding: 0 26% 0 20%;
  text-shadow: 1px 1px 1px var(--dark-purple);
  justify-content: flex-start;
  align-items: flex-end;
  color: rgb(212, 255, 235);
  width: 100vw;
  height: 10rem;
  bottom: 0;
  position: fixed;
  z-index: 5;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(12, 255, 182, 0.25));
}

.menu button:nth-of-type(3) {
  background-color: rgba(76, 54, 179, 0.418);
}

.menu label {
  font-size: 1.2rem;
}

.menu button:hover {
  box-shadow: 1px 1px 3px rgb(0, 255, 136);
}

#clearPage {
  padding-bottom: 0;
  margin-bottom: 0;
}

.cards-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 5rem;
  /* border: 5px solid white; */
}

.cards-header img {
  width: 250px;
  height: 190px;
}

.main-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  height: auto;
  z-index: 1;
}

.rightSide {
  display: flex;
  flex-direction: column;
  width: 55%;
  align-items: center;
  /* border: 2px solid red; */
}

.leftSide {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100%;
  /* border: 2px solid rgb(0, 255, 0); */
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  justify-content: center;
  gap: 1.2rem;
  /* border: 1px solid white; */
}

.hangingRick {
  width: 120px;
  height: 120px;
  top: 0;
}

.scrollUpBtn {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 1em;
  right: 3em;
  border-radius: 50%;
  z-index: 99;
  border: none;
  cursor: pointer;
  background-color: #2bffae;
  box-shadow: 1px 1px 10px rgb(12, 255, 154);
}

.goHome {
  font-family: "Get Schwifty";
  font-size: 2rem;
  color: rgb(96, 255, 162);
  top: 0;
}

#cards-amount {
  width: 100px;
  background: none;
  border: 2px solid rgb(12, 255, 154);
  border-radius: 0.5rem;
  border-bottom: 2px solid rgb(164, 115, 255);
  /* border-left: 2px solid rgb(164, 115, 255); */
  color: rgb(12, 255, 154);
  padding: 0.3rem;
  font-size: 1rem;
  outline: none;
}

#cards-amount option {
  font-size: 1rem;
  color: rgb(4, 92, 114);
  background-color: #00cf79;
}

#titulo {
  width: fit-content;
  /* border: 3px solid white; */
}

.streak {
  top: 14.5rem;
  left: 0;
  width: 100%;
  height: 250px;
  position: fixed;
  z-index: -2;
  background-color: rgba(44, 32, 54, 0.274);
  /* transform: rotateZ(160deg); */
}

.search {
  display: flex;
  flex-direction: column;
}

#search-field {
  text-align: center;
  font-size: 1rem;
  height: 2rem;
  border: 1px solid rgb(0, 255, 136);
  border-radius: 0.5rem;
  border-bottom: 2px solid rgb(164, 115, 255);
  border-left: 2px solid rgb(164, 115, 255);
  background-color: rgba(62, 43, 66, 0.5);
  color: rgb(113, 255, 208);
}

/* Responsive design.  */

@media (max-width: 1500px) {
  .vertical-divider {
    height: 70%;
    top: 25%;
  }

  h1 {
    font-size: 4.5rem;
    align-self: center;
    margin-left: 5%;
  }
  .menu {
    margin-top: 15%;
  }
  footer {
    padding: 0 40% 0 5%;
  }
  .card {
    width: 40%;
  }
}

@media (max-width: 1070px) {
  .main-container {
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    justify-content: space-between;
  }
  #titulo {
    margin: 0;
  }
  .go-home-container {
    display: none;
  }
  h1 {
    margin: 2rem 0;
    position: static;
    font-size: 3.5rem;
  }
  footer {
    position: unset;
    bottom: unset;
  }
  .vertical-divider {
    display: none;
  }
  .leftSide {
    align-items: center;
    height: 100%;
  }
  .menu {
    position: static;
    margin: 5% auto 0;
  }
  .card {
    width: 70%;
  }
  .card:hover {
    transform: translateX(-1%) translateY(-2%) scale(1.2);
  }
  .go-home-res {
    display: inline-block;
  }
}

@media (max-width: 700px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }
  h1 {
    text-align: center;
    font-size: 3.5rem;
  }
  .card {
    width: 100%;
  }
  footer {
    position: unset;
  }
  .cardContainer {
    padding: 0;
  }

  .menu {
    width: 100%;
    background-color: rgba(24, 24, 24, 0.5);
    box-shadow: 2px 2px 5px rgba(38, 41, 80, 0.5);
  }

  .filter-color {
    background-color: rgba(38, 41, 80, 0.3);
    mix-blend-mode: multiply;
  }
}
