@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --aquamarine: rgba(113, 255, 208, 1);
  --medium-spring-green: rgba(12, 255, 154, 1);
  --blue-sapphire: rgba(4, 92, 114, 1);
  --dark-purple: rgba(62, 43, 66, 1);
  --royal-purple: rgba(128, 76, 158, 1);
  --medium-purple: rgba(164, 115, 255, 1);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background: url(../images/mountains-bg.jpg);
  background-size: cover;
  background-position: fixed;
  color: var(--aquamarine);
  font-family: "Changa", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.bg-img {
  background: linear-gradient(var(--dark-purple), var(--royal-purple));
  mix-blend-mode: overlay;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  opacity: 0.4;
  z-index: -5;
}

.go-home {
  top: 1rem;
  left: 1rem;
  position: fixed;
  width: fit-content;
  color: var(--aquamarine);
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  z-index: 5;
  text-shadow: 2px 2px 5px var(--dark-purple);
}

footer {
  display: flex;
  text-shadow: 1px 1px 1px var(--dark-purple);
  justify-content: center;
  padding: 1rem;
  align-items: flex-end;
  color: rgb(212, 255, 235);
  opacity: 0.7;
  width: 100vw;
  height: 6rem;
  bottom: 0;
  position: fixed;
  z-index: 5;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(12, 255, 182, 0.2));
}

.upper-gradient {
  color: rgb(212, 255, 235);
  opacity: 0.7;
  width: 100vw;
  height: 7rem;
  top: 0;
  position: fixed;
  z-index: 1;
  background: linear-gradient(rgba(12, 255, 182, 0.1), rgba(0, 0, 0, 0));
}

table {
  border: 2px solid var(--medium-purple);
  font-size: 1.2rem;
  border-collapse: collapse;
  width: 80%;
}

tr {
  border: 1px solid var(--medium-purple);
}

th {
  border: 1px solid var(--medium-purple);
  padding: 0.5rem;
}

td {
  border: 1px solid var(--medium-purple);
  text-align: center;
  padding: 0.5rem;
}

td:hover {
  background-color: rgba(164, 115, 255, 0.1);
}

tr:first-child {
  border: 2px solid var(--medium-purple);
  background-color: rgba(164, 115, 255, 0.15);
  text-shadow: 0.1rem 0.1rem 0.2rem var(--dark-purple);
}
